* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fbfbfb;
    color: #262a33;
    letter-spacing: -0.01em;
    line-height: 1.6;
    font-family: 'MetricWeb', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 3rem;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}