:root {
    /* What we need to override for a client's theme */
    .theme-custom { 
        --bg-color: #1e0221;
        --color: #fff;

        --bg-color-l1: #28002b;
        --color-l1: #e0b3e6;
        --border-l1: 1px solid #660066;

        --bg-color-l2: #3a003d;
        --color-l2: #ffccff;
        --border-l2: 1px solid #800080;

        --bg-color-l3: #4d004f;
        --color-l3: #ffb3ff;
        --border-l3: 1px solid #990099;
    }
}