   
:root {

    .theme-dark {
        --bg-color: var(--neutral-90);
        --color: var(--white);

        --bg-color-l1: var(--neutral-80);
        --color-l1: var(--white);
        --border-l1: 1px solid var(--neutral-70);

        --bg-color-l2: var(--neutral-70);
        --color-l2: var(--white);
        --border-l2: 1px solid var(--neutral-80);

        --bg-color-l3: var(--neutral-60);
        --color-l3: var(--white);
        --border-l3: 1px solid var(--neutral-70);
    }
}