.theme-neutral {
    --bg-color: var(--neutral-100);
    --color: var(--neutral-900);

    --bg-color-l1: var(--white);
    --color-l1: var(--neutral-800);
    --border-l1: 1px solid var(--neutral-300);

    --bg-color-l2: var(--neutral-100);
    --color-l2: var(--neutral-900);
    --border-l2: 1px solid var(--neutral-300);

    --bg-color-l3: var(--white);
    --color-l3: var(--neutral-800);
    --border-l3: 1px solid var(--neutral-300);
}