:root {
  /* Neutrals palette */
  --white: #ffffff;     
  --neutral-100: #fdfdfd;
  --neutral-200: #f8f8f8;     
  --neutral-300: #e6e6e6;     
  --neutral-400: #d5d5d5;     
  --neutral-500: #b1b1b1;     
  --neutral-600: #909090;     
  --neutral-700: #6d6d6d;     
  --neutral-800: #464646;     
  --neutral-900: #212121;       
  --black: #000000;

  /* States palette */
  --primary: #007bff;
  --primary-hover: #0069d9;
  --danger: #dc3545;
  --danger-hover: #c82333;
  --warning: #ffc107;
  --warning-hover: #e0a800;
  --success: #28a745;
  --success-hover: #218838;

  --bg-color: var(--white);
  --color: var(--neutral-800);

  --bg-color-l1: var(--neutral-100);
  --color-l1: var(--neutral-800);
  --border-l1: 1px solid var(--neutral-300);

  --bg-color-l2: var(--white);
  --color-l2: var(--neutral-900);
  --border-l2: 1px solid var(--neutral-300);

  --bg-color-l3: var(--neutral-200);
  --color-l3: var(--neutral-800);
  --border-l3: 1px solid var(--neutral-300);
}