:root {
    --bg-color: var(--white);
    --color: var(--neutral-80);

    --bg-color-l1: var(--neutral-10);
    --color-l1: var(--neutral-80);
    --border-l1: 1px solid var(--neutral-30);

    --bg-color-l2: var(--white);
    --color-l2: var(--neutral-90);
    --border-l2: 1px solid var(--neutral-30);

    --bg-color-l3: var(--neutral-20);
    --color-l3: var(--neutral-80);
    --border-l3: 1px solid var(--neutral-30);
}